.home_content {
  color: #222222;
}
.home_content .company_brief {
  padding-bottom: 70px;
}
.home_content .company_brief h3 {
  font-size: 36px;
  color: #353535;
  height: 186px;
  line-height: 186px;
}
.home_content .company_brief h3 span {
  color: #181818;
  font-size: 24px;
}
.home_content .company_brief h4 {
  font-size: 22px;
  height: 66px;
  line-height: 66px;
}
.home_content .company_brief p {
  font-size: 16px;
  line-height: 30px;
}
.home_content .more_button {
  padding-top: 60px;
}
.home_content .more_button button {
  background: #868686;
  color: #fff;
  height: 52px;
  width: 180px;
  font-size: 18px;
}
.home_content .more_button button.news {
  background-color: #d9ecf9;
  color: #181818;
}
.home_content .latest_news {
  background-color: #d9ecf9;
}
.home_content .latest_news h3 {
  height: 180px;
  line-height: 180px;
}
.home_content .latest_news .news_list {
  padding: 0 15px;
}
.home_content .latest_news .news_list .nav-pills > li > a {
  border-radius: 0px;
  padding: 0px;
}
.home_content .latest_news .news_list .nav-pills > li.active > a,
.home_content .latest_news .news_list .nav-pills > li.active > a:hover,
.home_content .latest_news .news_list .nav-pills > li.active > a:focus {
  color: #fff;
}
.home_content .latest_news .news_list li {
  height: 76px;
  background-color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
}
.home_content .latest_news .news_list li a {
  width: 100%;
  height: 100%;
}
.home_content .latest_news .news_list li .news_date {
  color: #004e96;
  font-size: 15px;
  padding: 0px;
  height: 55px;
  border-right: 1px solid #ccc;
  margin-top: 12px;
}
.home_content .latest_news .news_list li .news_date .date {
  font-size: 24px;
}
.home_content .latest_news .news_list li .news_content {
  height: 76px;
  line-height: 76px;
  padding: 0 20px;
  color: #222222;
  font-size: 18px;
}
.home_content .latest_news .news_list li .news_content .news_content_icon {
  color: #1484ec;
}
.home_content .latest_news .news_list li.active .news_date {
  color: #fff;
}
.home_content .latest_news .news_list li.active .news_content {
  color: #fff;
}
.home_content .latest_news .news_list li.active .news_content_icon {
  color: #ffffff;
}
