.mk_footer {
    background-color: #07467E;
    font-size: 12px;
    padding: 0 10%;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
}

.mk_footer .footer_container {
    border-bottom: 1px solid #c8c8c8;
}

.mk_footer .footer_container .footer_item {
    height: 80px;
    line-height: 80px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.mk_footer .footer_bottom {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.mk_footer .footer_bottom a {
    color: #fff;
}

.mk_footer .footer_bottom .item {
    padding: 0px;
    text-align: center;
    height: 68px;
    line-height: 68px;
}

.mk_footer .footer_bottom .item .item_line {
    padding-left: 10%;
}

.mk_footer .footer_bottom_sn {
    overflow: hidden;
    text-align: center;
}

@media (max-width: 768px) {
    .mk_content_li a {
        font-size: 16px;
        padding: 0 10px;
    }

    .mk_min_addtop {
        margin-top: 10px;
    }

    .mk_col_md {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mk_footer .footer_container .footer_item {
        height: 30px;
        line-height: 30px;
    }

    .mk_footer .footer_bottom {
        width: 100%;
    }

    .mk_footer .footer_bottom {
        font-size: 12px;
    }

    .mk_footer .footer_bottom .item .item_line {
        text-align: right;
    }
}

@media (max-width: 360px) {
    .mk_footer {
        padding: 0px;
        padding-left: 5px;
    }

    .mk_footer .footer_bottom {
        font-size: 8px;
    }
}