.mk_nav {
    background-color: #fff;
    padding: 0 10%;
}

.mk_nav a {
    color: #191919;
}

.mk_nav .navbar-default {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    border: none;
}

.mk_nav .navbar-default .container-fluid {
    position: relative;
}

.mk_nav .navbar-default .navbar-header {
    height: 100px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.mk_nav .navbar-default .navbar-header .navbar-toggle {
    position: absolute;
    right: 0px;
}

.mk_nav .navbar-default .mail_container {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 30%;
}

.mk_nav .navbar-default .mail_container .mail {
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}

.mk_nav .navbar-default .mail_container .mail a {
    color: #999999;
}

.mk_nav .navbar-default .mail_container .mail .mail_system {
    float: left;
}

.mk_nav .navbar-default .mail_container .mail .mail_system .mail_system_img {
    height: 30px;
    width: 30px;
}

.mk_nav .navbar-default .mail_container .mail .mail_language {
    float: right;
}

.mk_nav .navbar-default .mail_container .mail .mail_language li {
    float: left;
    margin-left: 10px;
}

.mk_nav .navbar-default .mail_container .search .form-control {
    box-shadow: 0 0 0 0;
    border: none;
    border-bottom: 1px solid #999999;
    border-radius: 0px;
}

.mk_nav .navbar-default .mail_container .search .input-group-btn {
    border-bottom: 1px solid #999999;
}

.mk_nav .navbar-default .mail_container .search .input-group-btn button {
    border: none;
}

.mk_nav .navbar-default .mail_container .search .input-group-btn>.btn:hover,
.mk_nav .navbar-default .mail_container .search .input-group-btn>.btn:focus,
.mk_nav .navbar-default .mail_container .search .input-group-btn>.btn:active {
    outline-color: transparent;
    background-color: #fff;
}

.mk_nav .navbar-default .navbar-nav>.active>a,
.mk_nav .navbar-default .navbar-nav>.active>a:hover,
.mk_nav .navbar-default .navbar-nav>.active>a:focus {
    color: #0056A6;
    background-color: #fff;
    border: transparent;
}